[Desktop Entry]
Type=Application
Name=Android Studio
Exec=/opt/android-studio/bin/./studio.sh
Icon=/opt/android-studio/bin/studio.ico
Terminal=false
Categories=Development;Mobile

