[Desktop Entry]
Type=Application
Name=Arduino IDE
Comment=The arduino software (IDE) is an open source software, which is used to programme the Arduino boards.
Exec=/opt/arduino-ide/arduino-ide-default.AppImage
Icon=/opt/arduino-ide/icon.png
Terminal=false
Categories=Development;IDE;Electronics;
