[Desktop Entry]
Name=Aptana IDE
Comment=The world's most powerful open-source web development IDE just got better
Exec=/opt/eclipse-aptana/./eclipse
Icon=/opt/eclipse-aptana/icon.xpm
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true

