[Desktop Entry]
Name=Fritzing
Comment=Fritzing is an open-source hardware initiative that makes electronics accessible as a creative material for anyone.
Exec=/opt/fritzing-default/./Fritzing
Icon=/opt/fritzing-default/fritzing-logo.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true

