[Desktop Entry]
Name=Robomongo
Comment=Robomongo is a pioneer of some interesting ideas and techniques that were implemented for the first time in MongoDB ecosystem
Exec=/opt/robomongo-default/bin/robomongo
Icon=/opt/robomongo-default/logo.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true

