[Desktop Entry]
Name=SoapUI
Comment=Test your Web Services
Exec=/opt/SoapUI-5.0.0/bin/./soapui.sh
Icon=/opt/SoapUI-5.0.0/SoapUI.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true

