[Desktop Entry]
Name=Visual Studio Code
Comment=Visual Studio Code
Exec=/opt/VSCode-linux-x64/./Code
Icon=/opt/VSCode-linux-x64/resources/app/vso.png
Terminal=false
Type=Application
Categories=Development
StartupNotify=true

